
@keyframes subrayado {
0% {
    width: 0;
}
100% {
    width: 100%;
}
}

.subrayado {
position: relative;
display: inline-block;
}

.subrayado::after {
content: "";
position: absolute;
left: 0;
bottom: 5px; /* Ajusta la posición del subrayado */
width: 0;
z-index: -2;
height: 4px; /* Grosor del subrayado */
background-color: var(--bs-primary); /* Color del subrayado */
animation: subrayado 1s linear infinite alternate; /* Animación */
}

@keyframes subrayado {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  .subrayado {
    position: relative;
    display: inline-block;
  
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 4px; // Ajusta la posición del subrayado
      width: 0;
      z-index: -2;
      height: 4px; // Grosor del subrayado
      background-color: var(--bs-primary); // Color del subrayado
  
      animation: subrayado 1s linear forwards;
    }
  }

textarea {
    padding: 20px; 
    resize: none;
    overflow: auto;
}

/* Submenú relativo */
.dropdown-submenu {
  position: relative;
}

/* Submenú absoluto que se oculta por defecto */
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0;
  margin-left: 0.1rem;
  position: absolute;
  display: none;
  z-index: 1000;
}

/* Mostrar submenú solo cuando Angular agrega la clase .show */
.dropdown-submenu > .dropdown-menu.show {
  display: block;
}

/* Triángulo al final del primer nivel */
.dropdown-submenu > a::after {
  content: " ▸";
  float: right;
}