<div class="container py-4">
  <header class="mb-4 border-bottom">
    <div class="row">
      <div class="col-6">
        <div class="d-flex align-items-center text-dark text-decoration-none">
          <fa-icon style="font-size: 2rem; color: var(--bs-primary)" [icon]="faEnvelope"></fa-icon> &nbsp;
          <span class="fs-4">Notificame</span>
        </div>
      </div>
      <div class="col-6">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end align-items-center" *ngIf="this.step != 0">
          <button class="btn btn-outline-primary me-md-2" type="button" (click)="onReingresar()">
            Reingresar
            <fa-icon [icon]="faRepeat"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </header>

  <div *ngIf="this.step == 0">
    <app-ingreso-despacho (textoIngresado)="onTextoIngresado($event)"></app-ingreso-despacho>
  </div>

  <div *ngIf="this.step == 1">
    <app-seleccion-salida (salidaSeleccionada)="onSalidaSeleccionada($event)"></app-seleccion-salida>
  </div>

  <div *ngIf="this.step == 2">
    <app-mostrar-salida [salida]="this.salida"></app-mostrar-salida>
  </div>
</div>
<router-outlet/>