.brand-logo {
    .logo-icon {
      font-size: 2.5rem;
      color: var(--bs-primary);
    }
  
    .brand-title {
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 1;
    }
  
    .brand-ia {
      color: var(--bs-primary);
    }
  
    .brand-subtitle {
      font-size: 0.85rem;
      color: gray;
      font-weight: 500;
    }
  }