.subrayado {
    text-decoration: underline;
    text-decoration-color: var(--bs-primary); /* Cambia el color según necesites */
    text-decoration-thickness: 4px; /* Opcional: grosor de la línea */
  }

  .icon-list {
    position: relative;
    padding-left: 30px; /* Espacio para el ícono */
  }
  .icon-list i {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .form-switch .form-check-input:checked {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
  }