.subrayado {
    text-decoration: underline;
    text-decoration-color: var(--bs-primary); /* Cambia el color según necesites */
    text-decoration-thickness: 4px; /* Opcional: grosor de la línea */
  }

  .brand-ia {
  color: var(--bs-primary);
  }
