<div class="p-5 mb-4 bg-light rounded-3 border border-2 border-primary shadow scale-up-ver-top">
  <div class="container-fluid">
    <h1 class="display-5 fw-bold">Su <span class="subrayado">mandamiento</span> esta listo<span class="brand-ia">!</span></h1>

    <textarea [(ngModel)]="textoTerminado" class="form-control" id="exampleFormControlTextarea1" rows="20"></textarea>

    <!-- Responsive buttons -->
    <div class="d-flex flex-column flex-sm-column flex-md-row justify-content-center align-items-stretch align-items-md-center mt-3">
      <!-- Button -->
       <div class="col-4"></div>
       <div class="col-4">      
          <button class="btn btn-outline-primary" type="button" style="min-width: 450px;">
              Copiar
              <fa-icon [icon]="faClone"></fa-icon>
          </button>
        </div>
       <div class="col-4"></div>
    </div>
  </div>
</div>
