<p>Fecha de recepci&oacute;n en Oficina, Delegaci&oacute;n o Juzgado de Paz</p>

<table cellpadding="0" cellspacing="0" style="width:567px">
	<tbody>
		<tr>
			<td colspan="14">
			<h1><strong>M</strong></h1>
			</td>
			<td colspan="14">
			<h1>&nbsp;</h1>
			</td>
		</tr>
		<tr>
			<td colspan="5" rowspan="2">
			<p>&nbsp;</p>
			</td>
			<td colspan="18" style="border-color:currentColor rgb(0, 0, 1) currentColor currentColor">
			<p><strong>PODER JUDICIAL PROVINCIA DE BUENOS AIRES</strong></p>
			</td>
			<td colspan="7">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="18">
			<p><strong>MANDAMIENTO</strong></p>
			</td>
			<td colspan="7">
			<p><strong>Sello del &oacute;rgano</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="5" rowspan="2" style="border-color:rgb(0, 0, 1) rgb(0, 0, 1) currentColor">
			<p><strong>Concertaci&oacute;n de fecha con autorizado</strong></p>
			</td>
			<td colspan="25" style="border-color:currentColor currentColor currentColor rgb(0, 0, 1)">
			<p>&oacute;rgano:</p>
			</td>
		</tr>
		<tr>
			<td colspan="25" style="border-color:currentColor currentColor currentColor rgb(0, 0, 1)">
			<p>Juzgado Interviniente:</p>
			</td>
		</tr>
		<tr>
			<td style="border-color:currentColor currentColor currentColor rgb(0, 0, 1)">
			<p><strong>D&iacute;a</strong></p>
			</td>
			<td colspan="2">
			<p><strong>Mes</strong></p>

			<p>&nbsp;</p>
			</td>
			<td colspan="2" style="border-color:currentColor rgb(0, 0, 1) currentColor currentColor">
			<p><strong>A&ntilde;o</strong></p>
			</td>
			<td colspan="25" style="border-color:currentColor currentColor currentColor rgb(0, 0, 1)">
			<p>Direcci&oacute;n:</p>
			</td>
		</tr>
		<tr>
			<td colspan="5" style="border-color:currentColor rgb(0, 0, 1)">
			<p><strong>Hora</strong></p>
			</td>
			<td colspan="25" style="border-color:currentColor currentColor currentColor rgb(0, 0, 1)">
			<p>Juzgado/Tribunal:</p>
			</td>
		</tr>
		<tr>
			<td colspan="5" style="border-color:currentColor rgb(0, 0, 1)">
			<p><strong>Lugar</strong></p>
			</td>
			<td colspan="25" style="border-color:currentColor currentColor currentColor rgb(0, 0, 1)">
			<p>Tipo de diligencia:</p>
			</td>
		</tr>
		<tr>
			<td colspan="5" rowspan="2" style="border-color:currentColor rgb(0, 0, 1)">
			<p><strong>Firmas</strong></p>
			</td>
			<td colspan="25" style="border-color:currentColor currentColor currentColor rgb(0, 0, 1)">
			<p>Car&aacute;tula del expediente:</p>
			</td>
		</tr>
		<tr>
			<td colspan="8" style="border-color:currentColor currentColor currentColor rgb(0, 0, 1)">
			<p>Copias para traslado</p>
			</td>
			<td colspan="4">
			<p><strong>SI / NO</strong></p>
			</td>
			<td colspan="2">
			<p>En</p>
			</td>
			<td colspan="5">
			<p>&nbsp;</p>
			</td>
			<td colspan="6">
			<p>fs.</p>
			</td>
		</tr>
		<tr>
			<td colspan="5" style="border-color:currentColor rgb(0, 0, 1)">
			<p><strong>Supuestos de excepci&oacute;n (Art. 172 - Ac. 3397)</strong></p>
			</td>
			<td colspan="25" style="border-color:currentColor currentColor currentColor rgb(0, 0, 1)">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="border-color:currentColor currentColor currentColor rgb(0, 0, 1)">
			<p><strong>D&iacute;a</strong></p>
			</td>
			<td colspan="2">
			<p><strong>Mes</strong></p>

			<p>&nbsp;</p>
			</td>
			<td style="border-color:currentColor rgb(0, 0, 1) currentColor currentColor">
			<p><strong>A&ntilde;o</strong></p>
			</td>
			<td colspan="25" style="border-color:currentColor currentColor currentColor rgb(0, 0, 1)">
			<p><em><strong>CAR&Aacute;CTER</strong></em> (Indicar por <strong>SI</strong> ?<strong>NO</strong> seg&uacute;n corresponda)</p>
			</td>
		</tr>
		<tr>
			<td colspan="5" style="border-color:currentColor rgb(0, 0, 1)">
			<p><strong>Hora</strong></p>
			</td>
			<td colspan="2" style="border-color:currentColor currentColor currentColor rgb(0, 0, 1)">
			<p>URGENTE</p>
			</td>
			<td colspan="2" style="border-color:currentColor rgb(0, 0, 1) currentColor currentColor">
			<p>&nbsp;</p>
			</td>
			<td colspan="2">
			<p>&nbsp;</p>
			</td>
			<td colspan="3" style="border-color:currentColor currentColor currentColor rgb(0, 0, 1)">
			<p>&nbsp;</p>
			</td>
			<td colspan="11">
			<p>Y/O HABILITACION DE DIA Y HORA</p>
			</td>
			<td colspan="2" style="border-color:currentColor rgb(0, 0, 1) currentColor currentColor">
			<p>&nbsp;</p>
			</td>
			<td colspan="2">
			<p>&nbsp;</p>
			</td>
			<td style="border-color:currentColor currentColor currentColor rgb(0, 0, 1)">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="5" style="border-color:currentColor rgb(0, 0, 1)">
			<p><strong>Lugar</strong></p>
			</td>
			<td colspan="25" rowspan="2" style="border-color:currentColor currentColor currentColor rgb(0, 0, 1)">
			<p><em><strong>TIPO DE DOMICILIO</strong></em> (Indicar por <strong>SI</strong> ?<strong>NO</strong> seg&uacute;n corresponda)</p>
			</td>
		</tr>
		<tr>
			<td colspan="5" rowspan="2" style="border-color:currentColor rgb(0, 0, 1)">
			<p><strong>Firmas</strong></p>
			</td>
		</tr>
		<tr>
			<td colspan="5" style="border-color:currentColor rgb(0, 0, 1)">
			<p>Denunciado</p>
			</td>
			<td colspan="3">
			<p>&nbsp;</p>
			</td>
			<td colspan="5" style="border-color:currentColor rgb(0, 0, 1)">
			<p>Constituido</p>
			</td>
			<td colspan="2">
			<p>&nbsp;</p>
			</td>
			<td colspan="8" style="border-color:currentColor rgb(0, 0, 1)">
			<p>Bajo responsabilidad</p>
			</td>
			<td colspan="2">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="30">
			<p><em><strong>FACULTADES Y ATRIBUCIONES</strong></em> (Indicar por <strong>SI</strong> ?<strong>NO</strong> seg&uacute;n corresponda)</p>
			</td>
		</tr>
		<tr>
			<td colspan="6" style="border-color:currentColor rgb(0, 0, 1) currentColor currentColor">
			<p>Allanamiento:</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td colspan="19" style="border-color:currentColor rgb(0, 0, 1)">
			<p>Allanamiento en domicilio sin ocupantes:</p>
			</td>
			<td colspan="4">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="30">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="12" style="border-color:currentColor rgb(0, 0, 1) currentColor currentColor">
			<p>Con auxilio de la fuerza p&uacute;lica:</p>
			</td>
			<td colspan="3">
			<p>&nbsp;</p>
			</td>
			<td colspan="11" style="border-color:currentColor rgb(0, 0, 1)">
			<p>Con cerrajero</p>
			</td>
			<td colspan="4">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="30">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="8" style="border-color:currentColor rgb(0, 0, 1) currentColor currentColor">
			<p>Denuncia de otro domicilio</p>
			</td>
			<td colspan="5">
			<p>&nbsp;</p>
			</td>
			<td colspan="8" style="border-color:currentColor rgb(0, 0, 1)">
			<p>Denuncia de bienes</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td colspan="4" style="border-color:currentColor rgb(0, 0, 1)">
			<p>Otros</p>
			</td>
			<td colspan="4">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="30">
			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>El Oficial de Justicia de la zona que corresponda, se constituir&aacute;, para la ejecuci&oacute;n del presente en el domicilio de &nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;sito en &nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;y proceder&aacute; a &nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;</p>

<p>El auto que lo ordena dice en lo pertinente &nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;</p>

<p>&nbsp;</p>

<p>Facultades del Oficial de Justicia &nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;</p>

<p>&nbsp;</p>

<p>Nombres y facultades de los autorizados y Auxiliares de la Justicia&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;</p>

<p>&nbsp;</p>

<p>En la ciudad de&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;, a los&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;</p>

<p>d&iacute;as del mes de &nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;del a&ntilde;o&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;_&nbsp;</p>

<p><br />
&nbsp;</p>

<table cellpadding="0" cellspacing="0" style="width:567px">
	<tbody>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td style="border-color:rgb(0, 0, 1) currentColor currentColor">
			<p>Firma y sello</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
